@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
    // background-image: url( '../assets/wavy-lines.svg' );
}

.pointer {
    cursor: pointer;
}

.strike {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: $light;
    margin: 8px 0;

    &:before,
    &:after {
        content: '';
        flex-grow: 1;
        background: $light;
        height: 1px;
        font-size: 0;
        line-height: 0;
    }

    &:before {
        margin-right: 8px;
    }

    &:after {
        margin-left: 8px;
    }
}

.pulse-icon::before {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%,
    50%,
    100% {
        transform: scale(1, 1);
    }
    30%,
    80% {
        transform: scale(0.75, 0.75);
    }
}

.medium-icon {
    font-size: 20px;
}

.quick-play {
    display: grid;
    align-items: center;

    .expander {
        text-orientation: mixed;
        writing-mode: vertical-lr;
    }
}

.layout {
    display: grid;
    grid-template-columns: 1fr fit-content(64px);
}

.scene {
    .content {
        .title {
            display: grid;
            grid-template-columns: 1fr fit-content(32px);
            row-gap: 10px;
            grid-auto-rows: 1fr;
            align-items: center;
            .play-pause {
                font-size: 28px;
            }
        }

        .sounds-wrapper {
            .sounds {
                display: grid;
                row-gap: 15px;
                column-gap: 15px;
                --auto-grid-min-size: 300px;
                grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));

                .volume {
                    display: grid;
                    grid-template-columns: fit-content(64px) 1fr;
                    row-gap: 10px;
                    column-gap: 10px;
                    grid-auto-rows: 1fr;
                    align-items: center;
                }

                .title-row {
                    display: grid;
                    grid-template-columns: fit-content(64px) 1fr fit-content(64px);
                    row-gap: 10px;
                    column-gap: 10px;
                    grid-auto-rows: 1fr;
                    align-items: center;
                }
            }
        }
    }
}

.quick-play {
    .sounds {
        display: grid;
        row-gap: 15px;
        column-gap: 15px;
        --auto-grid-min-size: 300px;
        grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));

        .volume {
            display: grid;
            grid-template-columns: fit-content(64px) 1fr fit-content(64px);
            row-gap: 10px;
            column-gap: 10px;
            grid-auto-rows: 1fr;
            align-items: center;
        }
    }
}
