@import 'bootstrap/scss/bootstrap';


body {
  // background-image: url( '../assets/wavy-lines.svg' );
}

.pointer {
  cursor: pointer;
}

.strike {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: $light;
  margin: 8px 0;

  &:before, &:after {
      content: "";
      flex-grow: 1;
      background: $light;
      height: 1px;
      font-size: 0;
      line-height: 0;
  }

  &:before {
    margin-right: 8px;
  }
  
  &:after {
    margin-left: 8px;
  }
}

.scene {
  .content {
    .title {
      display: grid;
      grid-template-columns: 1fr 28px;
      row-gap: 10px;
    }

    .sounds {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10px;
      column-gap: 10px;
      
      @media (min-width: 768px) {
        & {
          grid-template-columns: 1fr 1fr;
        }
      }
      
      @media (min-width: 1920px) {
        & {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    
      .controls {
        display: grid;
        grid-template-columns: 24px 24px 1fr;
        row-gap: 10px;
        column-gap: 10px;
      }
    }
  }
}
